<div>
  <article *ngIf="customer" class="box">
    <div class="card_head">
      <img [src]="customer.avatar" alt="customer's avatar" />
      <div>
        <div [innerText]="customer.name" class="card_company_name"></div>
        <span [innerText]="customer.employeeName" class="card_employee_name"></span>
      </div>
    </div>

    <div style="padding: 5px 5px 5px 10px">
      <div [innerText]="customer.address"></div>
      <div [innerText]="customer.email"></div>
    </div>
  </article>
</div>
