.card_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .card_company_name {
    font-weight: 600;
  }

  .card_employee_name {
    font-weight: 100;
  }
}

img {
  float: left;
  padding: 0 10px 10px 0;
}

.box {
  width: 22vw;
  box-shadow: 0 0 1px;
  margin: .5rem;
  background: white;
}



.cyan {
  border-top: 3px solid cyan;
}
.red {
  border-top: 3px solid red;
}
.blue {
  border-top: 3px solid blue;
}
.orange {
  border-top: 3px solid orange;
}
