.customer_list_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.customer_sub_container {
  width: 70vw;
}

section {
  display: flex;
  background: whitesmoke;
  flex-wrap: wrap;
}
